// @media (max-width: 1200px)

// @media (max-width: 992px)

@media (max-width: 768px)
  .header
    padding: 18px 10px 0px
    &-nav
      display: none
  .burger
    display: flex
  .logo
    &__img
      width: 77px
      height: 24px

@media (max-width: 576px)
  .header
    background-image: url(../img/header/background.png)
    background-repeat: no-repeat
    background-position: centr
    max-width: 580px
    &-logo

// @media  (min-width: 300px) and (max-width: 480px)
