// @media (max-width: 1200px)

@media (max-width: 992px)
  .articles
    &-social
      margin-right: 30px
    &-container
      max-width: 700px

@media (max-width: 800px)
  .articles
    &-social
      display: none

@media (max-width: 768px)
  .articles
    &-container
      max-width: 100%
    &__title
      font-size: 32px
  .fair
    &__text
      font-size: 17px
  .quote__title
    font-size: 30px

@media (max-width: 576px)
  .articles
    margin-top: 40px
    &-main
      padding: 57px 0 49px 0 !important
    &-container
      padding-right: 10px
      padding-left: 10px
    &__title
      font-size: 26px
      line-height: 35px
    &__subtitle
      font-size: 20px
    &__post
      font-size: 14px
  .fair
    &__text
      font-size: 16px
      line-height: 28px
    &-container
      height: 270px
      &__description
        font-size: 12px
  .quote
    &__title
      font-size: 26px
      line-height: 40px
    &__text
      font-size: 14px

  .slider
    &-btn
      width: 40px
      height: 40px
      &-prev
        left: -18px
      &-next
        right: -18px

  .articles-verified
    &-autor
      &__date
        font-size: 12px !important

@media  (min-width: 300px) and (max-width: 480px)
  .articles
    &-main
    &__title
      font-size: 21px
      line-height: 32px
    &-subtitle
      font-size: 19px
      line-height: 24px
    &__post
      font-size: 12px
      line-height: 22px
      margin-top: 16px
      margin-bottom: 38px
      &-br > br
        display: block
    &-container
      padding-right: 0
      padding-left: 0
  .fair
    &-container
      height: 200px
      margin-top: -8px
      &__description
        margin-top: 7px
    &__text
      margin-bottom: 40px
  .slider
    &-container
      height: 207px
    &-btn
      top: 41%
      &-prev
        left: -14px
      &-next
        right: -14px
  .place
    &-title
      margin-bottom: -7px
      font-size: 24px
      line-height: 32px
      word-break: break-all
      & > br
        display: block

  .articles-verified
    &-autor
      &__avatar
      &__date
        margin-right: -8px
        min-width: 67px !important
        font-size: 10px !important

  .management
    padding-top: 54px

  .slider
    margin-top: -95px
  .quote
    padding: 53px 7px 71px 27px
    margin-top: 65px
    border-radius: 0
    position: relative
    right: -24px
    left: -24px
    width: 114%
    &__title
      margin-bottom: 33px
      font-size: 23px
      line-height: 31px
      text-align: center
      letter-spacing: 1px
    &__img
      width: 96px
      height: 96px
      bottom: -45px
      left: 52%
