.all
  padding-bottom: 32px
  &-title
    margin-bottom: 16px
  &-description
    margin-bottom: 48px
  &-text
  &-wrapper
    &-mb
      margin-bottom: 30px
  &-button
    display: flex
    justify-content: center
    align-items: center
    margin: 48px auto
    max-width: 192px
