.all
  &-title
    margin-bottom: 16px
  &-description
    margin-bottom: 10px
  &-text
  &-wrapper
    &-mb
      margin-bottom: 30px
    &-button
      display: flex
      justify-content: center
      align-items: center
      margin-top: 45px
      margin-bottom: 32px
  &-button
    min-width: 192px
