.example
  padding-bottom: 96px
  &-title
    margin-bottom: 16px
  &-description
    position: relative
    margin-bottom: 30px
  &-text
  &-button
    position: relative
    top: -17px
    right: 0
  &-wrapper
    display: flex
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03)
    border-radius: 16px
    background: #ffffff
    text-decoration: none
  &-offer
    &-description
      &-color
        background: #EBF7F2
        color: $blue-color
  &__swiper
    &-container
      border-radius: 16px
      &:hover
        box-shadow: 0 0 20px #3789fc
  &-btn
    outline: none
    position: absolute
    top: 542%
    transform: translateY(-50%)
    z-index: 9
    width: 54px
    height: 54px
    background-color: $blue-color
    border-radius: 50%
    cursor: pointer
    &-prev
      left: -26px
      background-image: url(../img/example/example-prev.svg)
      background-position: center
      background-repeat: no-repeat
      &:active
        background-color: #155bbe
      &:hover
        box-shadow: 0 0 10px #3789fc
    &-next
      right: -26px
      background-image: url(../img/example/example-next.svg)
      background-position: center
      background-repeat: no-repeat
      &:active
        background-color: #155bbe
      &:hover
        box-shadow: 0 0 10px #3789fc
