.articles
  &-wrapper
    display: flex
  &-social
    display: flex
    flex-direction: column
    align-items: center
    margin-right: 123px
    &__title
      margin-bottom: 33px
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: $text-color
    &__list
      display: flex
      flex-direction: column
    &__link
      text-decoration: none
      cursor: pointer
      &:not(:last-child)
        margin-bottom: 29px
    &__img

  &-container
    max-width: 804px
    padding-right: 27px
    padding-left: 27px

  &__title
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 48px
    letter-spacing: 0.2px
    color: $title-color
  &-subtitle
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 32px
    letter-spacing: 0.2px
    color: $title-color
    margin-bottom: 4px
  &__post
    margin-bottom: 16px
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 26px
    color: $text-color

  &__line
    display: block
    width: 100%
    height: 1px
    background: #E5EAF4
    &-up
      margin-bottom: 21px
    &-down
      margin-top: 21px

  &-verified-autor
    &__profile
    &__avatar
    &__bio
    &__name
    &__flag
    &__date
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 20px
      text-transform: uppercase
