@media  (min-width: 1700px) and (max-width: 2010px)
  .offer
    &-wrapper
      margin-top: -40vh
  .header
    height: 100vh
  .articles
    margin-top: -18vh

@media (max-width: 1110px)
  .offer
    &-wrapper
    &-img
      &__image

    &-description
      &__offer
      &__title
        font-size: 26px
        line-height: 40px
      &__text
        font-size: 16px
        line-height: 28px

@media (max-width: 992px)
  .offer
    &-wrapper
    &-img
      &__image

    &-description
      &__offer
      &__title
        font-size: 22px
        line-height: 30px
      &__text
        font-size: 14px
        line-height: 24px

@media (max-width: 768px)
  .offer
    &-wrapper
      flex-wrap: wrap
    &-img
      flex-basis: 100%
      min-height: 280px
      width: 100%
      &__image

    &-description
      flex-basis: 100%
      &__offer
      &__title
        font-size: 22px
        line-height: 30px
      &__text
        font-size: 14px
        line-height: 24px

@media (max-width: 576px)
  .offer
    &-wrapper
      margin-top: -45px
    &-img
      min-height: 200px
      width: 100%
      &__image

    &-description
      flex-basis: 100%
      padding: 19px 18px 24px 20px
      &__offer
        text-transform: uppercase
        margin-bottom: 3px
      &__title
        font-size: 20px
        line-height: 23px
        letter-spacing: 0px
        margin-bottom: 3px
      &__text
        font-size: 14px
        line-height: 24px
        margin-bottom: 21px

    &-verified-autor
      &__profile
      &__avatar
        height: 36px
        width: 36px
      &__bio
      &__name
        font-size: 14px
        line-height: 20px
        margin-bottom: 4px
      &__flag
        font-size: 12px
        line-height: 16px
      &__date
        font-size: 14px
        line-height: 20px
        min-width: 49px

@media  (min-width: 300px) and (max-width: 480px)
  .offer
    padding-bottom: 46px
    &-wrapper
      margin-top: -43px
    &-img
      min-height: 160px
      width: 100%
      &__image

    &-description
      flex-basis: 100%
      &__offer
      &__title
      &__text
        font-size: 14px
        line-height: 24px
